.header {
    background-color: $primary!important;
    border-bottom: lightblue 5px solid;
    padding-left: unset!important;
    .head-items{
        display: flex;
        .collapse-icon{
            font-size: 1rem;
            display: flex;
            align-items: center;
            height: 64px;
            width: 80px;
            justify-content: center;
        }
        .logo{
            padding-left: 3rem;
            font-size: 2rem;
            color: white;
        }
    }
}
.ant-layout{
    min-height: unset!important;
}

