.welcomePage{
    background-color: #f5f7fa;
    min-height: 92.5vh;
    z-index: 0;
    .wave{
        background-color: #6b0f1a;
        //background-image: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);
    }
    .top{
        padding-top: 5rem;
        min-height: 25%;
        background-color: #bf3a30;
        background-image: linear-gradient(315deg, #bf3a30 0%, #864ba2 74%);
        //background-color: #08e1ae;
        //background-image: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%);
        h1{
            font-size: 5rem;
            color:white;
        }
        h3{
            color: white;
        }
        .card-right{
        }
    }
}

